<h1 class="text-center">New Workout</h1>

<%= render('form') %>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 col-offset-2">
      <%= link_to "Back", user_workouts_path(current_user), class: "btn btn-default link" %>
    </div>
  </div>
</div>
