<div class="jumbotron">
  <h1>Workout Lounge</h1>
  <p>Show off your workouts</p>
</div>

<div class="row">
  <div class="col-md-10">
    <h2>Active Members</h2>
    <%= will_paginate @members, render: BootstrapPagination::Rails, class: "pull-left paginate" %>
  </div>
</div>

<div class="row">
  <% @members.each do |member| %>
    <div class="col-md-10 well member">
      <%= member.full_name %>
    </div>
  <% end %>
</div>
