@import "bootstrap-sprockets";
@import "bootstrap";


// Devise Error Messages
#error_explanation {
  background-color: #f2dede;
  color: #a94442;
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 30px;
}

#error_explanation h2 {
  font-size: 150%;
}

// Chat Box

#chat-box {
  min-height: 100px;
}

#message-field {
  width: 96%;
}

.message-body {
  margin-bottom: 2px;
}

#followers {
  border-right: 1px solid #76c95b;
}

.followers {
  margin-left: -15px;
}

#form-box {
  margin-left: -15px;
}

#send-btn {
  margin-right: -35px;
}
